
# Import the dataset

### Import libraries

In [2]:
import numpy as np
import pandas as pd

### Construyendo la tabla de datos principal

In [2]:
ext = '.csv'
start = 2005
end = 2023
ft = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_'

def readfiles(ft,st,en):
    l = []
    for i in range(st,en+1):
        p = ft + str(i)+ ext
        print(p)
        df = pd.read_csv(p)
        l.append(df)
        #print(df.head(2))
    return l

files = readfiles(ft,start,end)
all_matches = pd.concat(files)

https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2005.csv
https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2006.csv
https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2007.csv
https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2008.csv
https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2009.csv
https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2010.csv
https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2011.csv
https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2012.csv
https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2013.csv
https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2014.csv
https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2015.csv
https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2016.csv
https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2017.csv
https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2018.csv
https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2019.csv
https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2020.csv
https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2021.csv
https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2022.csv
https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2023.csv

In [50]:
all_matches['tourney_date'] = all_matches['tourney_date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))

In [51]:
all_matches['tourney_date']

0      2005-10-17
1      2005-10-17
2      2005-10-17
3      2005-10-17
4      2005-10-17
          ...
2364   2023-02-04
2365   2023-02-03
2366   2023-02-03
2367   2023-02-03
2368   2023-02-03
Name: tourney_date, Length: 54809, dtype: datetime64[ns]

In [9]:
filtro_davis=all_matches['tourney_name'].str.contains('Davis')
all_matches=all_matches[~filtro_davis]
len(all_matches)

49834

In [44]:
all_matches = all_matches.sample(frac=1, random_state=42)

In [45]:
length = len(all_matches)/2

y= []
for i in range(int(length)):
    y.append(0)
    
for i in range(int(length)):
    y.append(1)
    
all_matches['y'] = pd.Series(y, index=all_matches.index)

In [46]:
all_matches1 = all_matches[:int(length)]
all_matches2 = all_matches[int(length):]

In [47]:
all_matches1.rename(columns={'loser_id':'Player1_id', 'loser_seed':'Player1_seed', 'loser_entry':'Player1_entry', 'loser_name':'Player1_name', 'loser_hand':'Player1_hand', 'loser_ht':'Player1_ht', 'loser_ioc':'Player1_ioc', 'loser_age':'Player1_age', 'loser_rank':'Player1_rank', 'loser_rank_points':'Player1_rank_points','winner_id':'Player2_id', 'winner_seed':'Player2_seed', 'winner_entry':'Player2_entry', 'winner_name':'Player2_name', 'winner_hand':'Player2_hand', 'winner_ht':'Player2_ht', 'winner_ioc':'Player2_ioc', 'winner_age':'Player2_age', 'winner_rank':'Player2_rank', 'winner_rank_points':'Player2_rank_points'},inplace=True)
all_matches2.rename(columns={'loser_id':'Player2_id', 'loser_seed':'Player2_seed', 'loser_entry':'Player2_entry', 'loser_name':'Player2_name', 'loser_hand':'Player2_hand', 'loser_ht':'Player2_ht', 'loser_ioc':'Player2_ioc', 'loser_age':'Player2_age', 'loser_rank':'Player2_rank', 'loser_rank_points':'Player2_rank_points','winner_id':'Player1_id', 'winner_seed':'Player1_seed', 'winner_entry':'Player1_entry', 'winner_name':'Player1_name', 'winner_hand':'Player1_hand', 'winner_ht':'Player1_ht', 'winner_ioc':'Player1_ioc', 'winner_age':'Player1_age', 'winner_rank':'Player1_rank', 'winner_rank_points':'Player1_rank_points'},inplace=True)

C:\Users\ferna\AppData\Local\Temp\ipykernel_2548\2414733624.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_matches1.rename(columns={'loser_id':'Player1_id', 'loser_seed':'Player1_seed', 'loser_entry':'Player1_entry', 'loser_name':'Player1_name', 'loser_hand':'Player1_hand', 'loser_ht':'Player1_ht', 'loser_ioc':'Player1_ioc', 'loser_age':'Player1_age', 'loser_rank':'Player1_rank', 'loser_rank_points':'Player1_rank_points','winner_id':'Player2_id', 'winner_seed':'Player2_seed', 'winner_entry':'Player2_entry', 'winner_name':'Player2_name', 'winner_hand':'Player2_hand', 'winner_ht':'Player2_ht', 'winner_ioc':'Player2_ioc', 'winner_age':'Player2_age', 'winner_rank':'Player2_rank', 'winner_rank_points':'Player2_rank_points'},inplace=True)
C:\Users\ferna\AppData\Local\Temp\ipykernel_2548\2414733624.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_matches2.rename(columns={'loser_id':'Player2_id', 'loser_seed':'Player2_seed', 'loser_entry':'Player2_entry', 'loser_name':'Player2_name', 'loser_hand':'Player2_hand', 'loser_ht':'Player2_ht', 'loser_ioc':'Player2_ioc', 'loser_age':'Player2_age', 'loser_rank':'Player2_rank', 'loser_rank_points':'Player2_rank_points','winner_id':'Player1_id', 'winner_seed':'Player1_seed', 'winner_entry':'Player1_entry', 'winner_name':'Player1_name', 'winner_hand':'Player1_hand', 'winner_ht':'Player1_ht', 'winner_ioc':'Player1_ioc', 'winner_age':'Player1_age', 'winner_rank':'Player1_rank', 'winner_rank_points':'Player1_rank_points'},inplace=True)

In [48]:
cc = [all_matches1,all_matches2]
all_matches_final= pd.concat(cc)

In [49]:
from sklearn.utils import shuffle

#all_matches_final=all_matches_final[all_matches_final['tourney_date']>='2003-01-01']
all_matches_final = shuffle(all_matches_final)
#all_matches_final=all_matches_final[all_matches_final['Player1_rank']<=100]
#all_matches_final=all_matches_final[all_matches_final['Player2_rank']<=100]
#all_matches_final=all_matches_final[all_matches_final['tourney_level'].isin(['G','M'])]
#all_matches_final.to_csv('C:/Users/ferna/Desktop/UTEC/Tesis 2/codigo/github_info/all_matches_final.csv', encoding='utf-8', index=False)

### Estadísticas de los últimos partidos

In [51]:
data = all_matches.sort_values(by='tourney_date')
data_jugador1=data[['tourney_name', 'surface','tourney_level', 'tourney_date',
                    'winner_id', 'winner_name', 'winner_hand','winner_ht', 'winner_ioc', 'winner_age', 
                    'score', 'best_of', 'round', 'minutes', 
                    'w_ace', 'w_df','w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved','w_bpFaced']]
data_jugador1['resultado']='winner'
data_jugador1.columns=['tourney_name', 'surface','tourney_level', 'tourney_date',
                       'id', 'name', 'hand','ht', 'ioc', 'age', 
                       'score', 'best_of', 'round', 'minutes', 
                       'ace', 'df','svpt', '1stIn', '1stWon', '2ndWon', 'SvGms', 'bpSaved','bpFaced','resultado']
data_jugador2=data[['tourney_name', 'surface','tourney_level', 'tourney_date',
                    'loser_id','loser_name', 'loser_hand', 'loser_ht', 'loser_ioc','loser_age',
                    'score', 'best_of', 'round', 'minutes', 
                    'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon','l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced']]
data_jugador2['resultado']='loser'
data_jugador2.columns=['tourney_name', 'surface','tourney_level', 'tourney_date',
                       'id', 'name', 'hand','ht', 'ioc', 'age', 
                       'score', 'best_of', 'round', 'minutes', 
                       'ace', 'df','svpt', '1stIn', '1stWon', '2ndWon', 'SvGms', 'bpSaved','bpFaced','resultado']


data_completa=pd.concat([data_jugador1,data_jugador2])
data_completa=data_completa.sort_values(by=['name','tourney_date'])
len(data_completa)

C:\Users\ferna\AppData\Local\Temp\ipykernel_2548\4002528270.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_jugador1['resultado']='winner'
C:\Users\ferna\AppData\Local\Temp\ipykernel_2548\4002528270.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_jugador2['resultado']='loser'

99668

In [52]:
# Estadísticas de los últimos 5 partidos

data_completa.sort_values(by=['name', 'tourney_date'], inplace=True)
variables_a_promediar = ['ace', 'df', 'svpt', '1stIn', '1stWon', '2ndWon', 'SvGms','bpSaved', 'bpFaced']


for variable in variables_a_promediar:
    data_completa[f'promedio_ultimas_5_{variable}'] = data_completa.groupby('name')[variable].rolling(5, min_periods=1).mean().reset_index(level=0, drop=True)

In [53]:
# Superficie

data_completa = data_completa.sort_values(by='tourney_date')

grouped = data_completa.groupby(['name', 'surface'])
result = grouped['resultado'].value_counts(normalize=True).unstack(fill_value=0)
win_rate = result['winner']
win_rate=win_rate.reset_index()

matches_count = grouped.size().reset_index(name='matches_count_superficie')
superficie = matches_count.merge(win_rate, on=['name', 'surface'])
superficie.columns=['name', 'surface', 'matches_count_superficie', 'winner_superficie']

superficie = superficie.drop_duplicates()

In [54]:
# Tourney_name

data_completa = data_completa.sort_values(by='tourney_date')


grouped = data_completa.groupby(['name', 'tourney_name'])
result = grouped['resultado'].value_counts(normalize=True).unstack(fill_value=0)
win_rate = result['winner']
win_rate=win_rate.reset_index()

matches_count = grouped.size().reset_index(name='matches_count_tourneyname')
tourney_name = matches_count.merge(win_rate, on=['name', 'tourney_name'])
tourney_name.columns=['name', 'tourney_name', 'matches_count_tourneyname', 'winner_tourneyname']

tourney_name=tourney_name.drop_duplicates()

In [55]:
# Tourney_level

grouped = data_completa.groupby(['name', 'tourney_level'])
result = grouped['resultado'].value_counts(normalize=True).unstack(fill_value=0)
win_rate = result['winner']
win_rate=win_rate.reset_index()

matches_count = grouped.size().reset_index(name='matches_count')
tourney_level = matches_count.merge(win_rate, on=['name', 'tourney_level'])
tourney_level.columns=['name', 'tourney_level', 'matches_count_tourneylevel', 'winner_tourneylevel']

tourney_level=tourney_level.drop_duplicates()

### VS entre jugadores

In [172]:
data = all_matches.sort_values(by='tourney_date')
data_jugador1=data[['tourney_date','winner_name','loser_name']]
data_jugador1['resultado']='winner'
data_jugador1.columns=['tourney_date', 'jugador1','jugador2','resultado']

data_jugador2=data[['tourney_date','loser_name','winner_name']]
data_jugador2['resultado']='loser'
data_jugador2.columns=['tourney_date', 'jugador1','jugador2','resultado']

data_completa=pd.concat([data_jugador1,data_jugador2])
data_completa=data_completa.sort_values(by=['tourney_date'])
len(data_completa)


data_completa['tourney_date'] = pd.to_datetime(data_completa['tourney_date'])

# Ordenamos el DataFrame por fecha
data_completa = data_completa.sort_values(by='tourney_date')

# Inicializamos una lista para almacenar los resultados
results = []

# Iteramos a través de las filas del DataFrame
for index, row in data_completa.iterrows():
    # Filtramos los datos para obtener los partidos hasta antes de la fecha actual
    filtered_data = data_completa[(data_completa['tourney_date'] < row['tourney_date']) &
                                  (data_completa['jugador1'] == row['jugador1']) &
                                  (data_completa['jugador2'] == row['jugador2'])]
    
    # Realizamos el mismo proceso que describiste para calcular el win_rate
    grouped = filtered_data.groupby(['jugador1', 'jugador2'])
    result = grouped['resultado'].value_counts(normalize=True).unstack(fill_value=0)
    
    # Agregamos una columna 'winner' con valor 0 en caso de que no exista
    if 'winner' not in result.columns:
        result['winner'] = 0
    
    win_rate = result['winner'].reset_index()
    
    # Almacenamos la fecha actual en el resultado
    win_rate['tourney_date'] = row['tourney_date']
    
    # Agregamos los resultados a la lista
    results.append(win_rate)

# Concatenamos todos los resultados en un único DataFrame
final_result = pd.concat(results, ignore_index=True)

### Merge de tablas

In [56]:
len(all_matches_final)

49834

In [57]:
# Merge superficie
merged_df = pd.merge(all_matches_final,superficie, left_on=['Player1_name','surface'], right_on=['name','surface'], how='left')
merged_df = pd.merge(merged_df,superficie, left_on=['Player2_name','surface'], right_on=['name','surface'], how='left')

In [58]:
len(merged_df)

49834

In [59]:
# Merge tourney name
merged_df = pd.merge(merged_df,tourney_name, left_on=['Player1_name','tourney_name'], right_on=['name','tourney_name'], how='left')
merged_df = pd.merge(merged_df,tourney_name, left_on=['Player2_name','tourney_name'], right_on=['name','tourney_name'], how='left')

C:\Users\ferna\AppData\Local\Temp\ipykernel_2548\2126587641.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'name_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = pd.merge(merged_df,tourney_name, left_on=['Player2_name','tourney_name'], right_on=['name','tourney_name'], how='left')

In [60]:
len(merged_df)

49834

In [61]:
# Merge tourney level
merged_df = pd.merge(merged_df,tourney_level, left_on=['Player1_name','tourney_level'], right_on=['name','tourney_level'], how='left')
merged_df = pd.merge(merged_df,tourney_level, left_on=['Player2_name','tourney_level'], right_on=['name','tourney_level'], how='left')

C:\Users\ferna\AppData\Local\Temp\ipykernel_2548\4044302382.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'name_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = pd.merge(merged_df,tourney_level, left_on=['Player2_name','tourney_level'], right_on=['name','tourney_level'], how='left')

In [62]:
len(merged_df)

49834

In [64]:
# Merge vs histórico
merged_df['tourney_date'] = pd.to_datetime(merged_df['tourney_date'])
merged_df = pd.merge(merged_df,final_result, left_on=['Player1_name','Player2_name','tourney_date'], right_on=['jugador1','jugador2','tourney_date'], how='left')

In [65]:
len(merged_df)

49834

In [ ]:
# Merge estadísticas

In [66]:
estadisticas=data_completa.drop_duplicates(subset=['name','tourney_date'], keep='first')

In [67]:
estadisticas=estadisticas[['name','tourney_date','promedio_ultimas_5_ace',
                           'promedio_ultimas_5_df', 'promedio_ultimas_5_svpt',
                           'promedio_ultimas_5_1stIn', 'promedio_ultimas_5_1stWon',
                           'promedio_ultimas_5_2ndWon', 'promedio_ultimas_5_SvGms',
                           'promedio_ultimas_5_bpSaved', 'promedio_ultimas_5_bpFaced']]

In [68]:
merged_df['tourney_date'] = pd.to_datetime(merged_df['tourney_date'])
merged_df = pd.merge(merged_df,estadisticas, left_on=['Player1_name','tourney_date'], right_on=['name','tourney_date'], how='left')
merged_df = pd.merge(merged_df,estadisticas, left_on=['Player2_name','tourney_date'], right_on=['name','tourney_date'], how='left')

C:\Users\ferna\AppData\Local\Temp\ipykernel_2548\3802749209.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'name_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = pd.merge(merged_df,estadisticas, left_on=['Player2_name','tourney_date'], right_on=['name','tourney_date'], how='left')

In [69]:
len(merged_df)

49834

In [72]:
merged_df=merged_df[['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level', 'tourney_date', 'match_num',
                     'Player1_id', 'Player1_seed','Player1_entry', 'Player1_name', 'Player1_hand', 'Player1_ht','Player1_ioc', 'Player1_age', 
                     'Player2_id', 'Player2_seed','Player2_entry', 'Player2_name', 'Player2_hand', 'Player2_ht','Player2_ioc', 'Player2_age', 
                     'score', 'best_of', 'round', 'minutes',
       'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms',
       'w_bpSaved', 'w_bpFaced', 
       'l_ace', 'l_df', 'l_svpt', 'l_1stIn',
       'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'Player1_rank','Player1_rank_points', 'Player2_rank', 'Player2_rank_points', 
                     
       'matches_count_superficie_x','winner_superficie_x','matches_count_superficie_y','winner_superficie_y',
       'matches_count_tourneyname_x','winner_tourneyname_x', 'matches_count_tourneyname_y','winner_tourneyname_y',
       'matches_count_tourneylevel_x','winner_tourneylevel_x','matches_count_tourneylevel_y','winner_tourneylevel_y', 
       'winner',
       'promedio_ultimas_5_ace_x', 'promedio_ultimas_5_df_x',
       'promedio_ultimas_5_svpt_x', 'promedio_ultimas_5_1stIn_x',
       'promedio_ultimas_5_1stWon_x', 'promedio_ultimas_5_2ndWon_x',
       'promedio_ultimas_5_SvGms_x', 'promedio_ultimas_5_bpSaved_x',
       'promedio_ultimas_5_bpFaced_x',
       'promedio_ultimas_5_ace_y','promedio_ultimas_5_df_y', 
       'promedio_ultimas_5_svpt_y','promedio_ultimas_5_1stIn_y',
       'promedio_ultimas_5_1stWon_y','promedio_ultimas_5_2ndWon_y',
       'promedio_ultimas_5_SvGms_y','promedio_ultimas_5_bpSaved_y',
       'promedio_ultimas_5_bpFaced_y',
       'y']]

In [75]:
merged_df.columns=['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level', 'tourney_date', 'match_num',
                     'Player1_id', 'Player1_seed','Player1_entry', 'Player1_name', 'Player1_hand', 'Player1_ht','Player1_ioc', 'Player1_age', 
                     'Player2_id', 'Player2_seed','Player2_entry', 'Player2_name', 'Player2_hand', 'Player2_ht','Player2_ioc', 'Player2_age', 
                     'score', 'best_of', 'round', 'minutes',
       'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms',
       'w_bpSaved', 'w_bpFaced', 
       'l_ace', 'l_df', 'l_svpt', 'l_1stIn',
       'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'Player1_rank','Player1_rank_points', 'Player2_rank', 'Player2_rank_points',             
       'matches_count_superficie_Player1','winner_superficie_Player1','matches_count_superficie_Player2','winner_superficie_Player2',
       'matches_count_tourneyname_Player1','winner_tourneyname_Player1', 'matches_count_tourneyname_Player2','winner_tourneyname_Player2',
       'matches_count_tourneylevel_Player1','winner_tourneylevel_Player1','matches_count_tourneylevel_Player2','winner_tourneylevel_Player2', 
       'winner',
       'promedio_ultimas_5_ace_Player1', 'promedio_ultimas_5_df_Player1',
       'promedio_ultimas_5_svpt_Player1', 'promedio_ultimas_5_1stIn_Player1',
       'promedio_ultimas_5_1stWon_Player1', 'promedio_ultimas_5_2ndWon_Player1',
       'promedio_ultimas_5_SvGms_Player1', 'promedio_ultimas_5_bpSaved_Player1',
       'promedio_ultimas_5_bpFaced_Player1',
       'promedio_ultimas_5_ace_Player2','promedio_ultimas_5_df_Player2', 
       'promedio_ultimas_5_svpt_Player2','promedio_ultimas_5_1stIn_Player2',
       'promedio_ultimas_5_1stWon_Player2','promedio_ultimas_5_2ndWon_Player2',
       'promedio_ultimas_5_SvGms_Player2','promedio_ultimas_5_bpSaved_Player2',
       'promedio_ultimas_5_bpFaced_Player2',
       'y']

In [76]:
from sklearn.utils import shuffle
merged_df = shuffle(merged_df)
#all_matches_final=all_matches_final[all_matches_final['Player1_rank']<=100]
#all_matches_final=all_matches_final[all_matches_final['Player2_rank']<=100]
#all_matches_final=all_matches_final[all_matches_final['tourney_level'].isin(['G','M'])]
merged_df.to_csv('C:/Users/ferna/Desktop/UTEC/Tesis 2/codigo/github_info/all_matches_versionfinal.csv', encoding='utf-8', index=False)

## Apuestas

In [3]:
ext = '.xlsx'
start = 2005
end = 2023
ft = 'http://www.tennis-data.co.uk/'

def readfiles(ft,st,en):
    l = []
    for i in range(st,en+1):
        p = ft + str(i)+'/'+ str(i)+ext
        print(p)
        df = pd.read_excel(p)
        l.append(df)
        #print(df.head(2))
    return l

files = readfiles(ft,start,end)
all_bets = pd.concat(files)

http://www.tennis-data.co.uk/2005/2005.xlsx
http://www.tennis-data.co.uk/2006/2006.xlsx
http://www.tennis-data.co.uk/2007/2007.xlsx
http://www.tennis-data.co.uk/2008/2008.xlsx
http://www.tennis-data.co.uk/2009/2009.xlsx
http://www.tennis-data.co.uk/2010/2010.xlsx
http://www.tennis-data.co.uk/2011/2011.xlsx
http://www.tennis-data.co.uk/2012/2012.xlsx
http://www.tennis-data.co.uk/2013/2013.xlsx

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

http://www.tennis-data.co.uk/2014/2014.xlsx

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

http://www.tennis-data.co.uk/2015/2015.xlsx

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

http://www.tennis-data.co.uk/2016/2016.xlsx

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

http://www.tennis-data.co.uk/2017/2017.xlsx
http://www.tennis-data.co.uk/2018/2018.xlsx
http://www.tennis-data.co.uk/2019/2019.xlsx
http://www.tennis-data.co.uk/2020/2020.xlsx
http://www.tennis-data.co.uk/2021/2021.xlsx
http://www.tennis-data.co.uk/2022/2022.xlsx
http://www.tennis-data.co.uk/2023/2023.xlsx

In [4]:
#B365W = Bet365 odds of match winner
#B365L = Bet365 odds of match loser
#PSW = Pinnacles Sports odds of match winner
#PSL = Pinnacles Sports odds of match loser

all_bets=all_bets[['Tournament', 'Date', 'Surface','Winner', 'Loser', 'WRank', 'LRank', 'WPts', 'LPts','B365W', 'B365L']]

In [5]:
all_bets=all_bets[all_bets['Tournament'].isin(['US Open','Wimbledon','Australian Open'])]

In [10]:
len(all_bets)

7112

In [6]:
all_bets.head()

,Tournament,Date,Surface,Winner,Loser,WRank,LRank,WPts,LPts,B365W,B365L
155,Australian Open,2005-01-17,Hard,Johansson T.,Luczak P.,31.0,152.0,NaN,NaN,1.10,6.50
156,Australian Open,2005-01-17,Hard,Baghdatis M.,Luzzi F.,155.0,214.0,NaN,NaN,1.36,3.00
157,Australian Open,2005-01-17,Hard,Zib T.,Wang Y.T.,101.0,185.0,NaN,NaN,1.36,2.87
158,Australian Open,2005-01-17,Hard,Phau B.,Costa A.,123.0,46.0,NaN,NaN,3.39,1.30
159,Australian Open,2005-01-17,Hard,Calleri A.,Mirnyi M.,66.0,44.0,NaN,NaN,2.37,1.53

## Datos

In [7]:
data = pd.read_csv('C:/Users/ferna/Desktop/UTEC/Tesis 2/codigo/github_info/all_matches_versionfinal.csv')

In [9]:
data[['tourney_name','tourney_date','surface','Player1_name','Player2_name']]

,tourney_name,tourney_date,surface,Player1_name,Player2_name
0,Wimbledon,2023-07-03,Grass,Grigor Dimitrov,Ilya Ivashka
1,Stockholm,2010-10-18,Hard,Matthias Bachinger,Lukasz Kubot
2,Miami Masters,2016-03-21,Hard,Horacio Zeballos,Fernando Verdasco
3,Valencia,2005-04-04,Clay,Rafael Nadal,Guillermo Garcia Lopez
4,Wimbledon,2021-06-28,Grass,Federico Coria,Daniel Elahi Galan
...,...,...,...,...,...
49829,Atlanta,2013-07-22,Hard,Mardy Fish,Michael Russell
49830,Tokyo,2019-09-30,Hard,Radu Albot,Yasutaka Uchiyama
49831,Tokyo,2006-10-02,Hard,Mario Ancic,Tim Henman
49832,Casablanca,2005-04-04,Clay,Mariano Puerta,Nicolas Almagro
49833,Chennai,2012-01-02,Hard,Edouard Roger Vasselin,Stan Wawrinka

In [4]:
len(data)

49834

In [33]:
data=data[data['tourney_name'].isin(['US Open','Wimbledon','Australian Open'])]

In [8]:
sorted(data['tourney_name'].unique())

['Australian Open', 'US Open', 'Wimbledon']

In [9]:
len(data)

6604

In [34]:
nueva_data=data[data['tourney_date']<'2023-01-01']

In [18]:
len(nueva_data)

6350

## Cruce

In [11]:
import re

def convertir_formato(nombre_completo):
    # Dividir el nombre completo en apellido y nombre
    partes = nombre_completo.split(' ')
    
    # Tomar el primer carácter del primer componente del nombre (manejar apellidos compuestos)
    inicial_nombre = re.sub(r'\W+', '', partes[0])[0].upper()
    
    # Unir el apellido y la inicial del nombre
    nuevo_formato = f"{partes[-1]} {inicial_nombre}."
    
    return nuevo_formato

# Aplicar la función a la columna 'Player1_name' de la primera tabla
data['Player1_name'] = data['Player1_name'].apply(convertir_formato)
data['Player2_name'] = data['Player2_name'].apply(convertir_formato)

In [13]:
data['tourney_date'] = pd.to_datetime(data['tourney_date'])
all_bets['Date'] = pd.to_datetime(all_bets['Date'])

In [38]:
all_bets

,Tournament,Date,Surface,Winner,Loser,WRank,LRank,WPts,LPts,B365W,B365L
155,Australian Open,2005-01-17,Hard,Johansson T.,Luczak P.,31.0,152.0,NaN,NaN,1.10,6.50
163,Australian Open,2005-01-17,Hard,Gaudio G.,Gimelstob J.,10.0,144.0,NaN,NaN,1.50,2.50
168,Australian Open,2005-01-17,Hard,Robredo T.,Draper S.,13.0,NaN,NaN,NaN,1.08,7.00
167,Australian Open,2005-01-17,Hard,Federer R.,Santoro F.,1.0,49.0,NaN,NaN,1.01,15.00
166,Australian Open,2005-01-17,Hard,Suzuki T.,Gambill J.M.,203.0,90.0,NaN,NaN,2.00,1.72
...,...,...,...,...,...,...,...,...,...,...,...
2220,US Open,2023-09-06,Hard,Medvedev D.,Rublev A.,3.0,8.0,6260.0,4515.0,1.36,3.20
2221,US Open,2023-09-07,Hard,Alcaraz C.,Zverev A.,1.0,12.0,9815.0,2670.0,1.20,4.50
2222,US Open,2023-09-08,Hard,Djokovic N.,Shelton B.,2.0,47.0,9795.0,1015.0,1.06,10.00
2223,US Open,2023-09-09,Hard,Medvedev D.,Alcaraz C.,3.0,1.0,6260.0,9815.0,4.33,1.22
2224,US Open,2023-09-10,Hard,Djokovic N.,Medvedev D.,2.0,3.0,9795.0,6260.0,1.44,2.88

In [40]:
result1 = data.merge(all_bets, how='left', left_on=['tourney_date', 'Player1_name', 'Player2_name'], right_on=['Date', 'Winner', 'Loser'])
result1['Player1_odds'] = result1['B365W']
result1['Player2_odds'] = result1['B365L']
result1.drop(['Tournament','Date','Surface','Winner','Loser','WRank','LRank','WPts','LPts','B365W','B365L'], axis=1, inplace=True)

# Segundo merge
result2 = data.merge(all_bets, how='left', left_on=['tourney_date', 'Player2_name', 'Player1_name'], right_on=['Date', 'Winner', 'Loser'])
result2['Player1_odds'] = result2['B365L']
result2['Player2_odds'] = result2['B365W']
result2.drop(['Tournament','Date','Surface','Winner','Loser','WRank','LRank','WPts','LPts','B365W','B365L'], axis=1, inplace=True)

# Combinar los resultados
result = pd.concat([result1, result2])

# Eliminar duplicados basados en índices
result = result.loc[~result.index.duplicated(keep='first')]

In [42]:
result.to_csv('C:/Users/ferna/Desktop/UTEC/Tesis 2/codigo/github_info/all_matches_versionfinal_apuestas.csv', encoding='utf-8', index=False)